<div class="home-container" fxLayout="column">
  <div class="nav-container">
    <app-top-navigation></app-top-navigation>
  </div>
  <div fxFlex="row">
    <div fxFlex="30" class="side-nav" fxLayout="column">
      <div fxFlex="70" class="side-nav-image">

      </div>
    </div>
    <div fxFlex="70">
      <div fxLayout="column" class="container">
        <section>
          <div fxLayoutAlign="space-between center">
            <div class="mat-headline">Book Appointment</div>
            <div>
              <button mat-raised-button (click)="book()">Book</button>
            </div>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="dp" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
          </div>
        </section>
        <section>
          <div class="mat-headline">Symptoms</div>
          <app-symptoms></app-symptoms>
        </section>
        <section>
          <div class="mat-headline">Family History</div>
          <app-family-history></app-family-history>
        </section>
        <section>

          <app-upload-documents></app-upload-documents>
        </section>
      </div>
    </div>
  </div>
</div>
